[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-phonenumber-field = "*"
djoser = "*"
whitenoise = "*"
coreapi = "*"
drf-yasg = {version = "*", extras = ["validation"]}
"boto3" = "*"
sentry-sdk = "*"
coverage = "*"
django-workers = "*"
django-filter = "*"

[dev-packages]
factory-boy = "*"

[requires]
python_version = "3.7"
